/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #0099ff; /* blue background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #002b36; /* Dark background color for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-nabla {
    font-family: 'Nabla', sans-serif;
    font-weight: 300;
  }

  .text-nabla {
    color: #ffcc00; /* Replace with your desired burnt orange color */
  }
}
